.position-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.position-label {
	font-size: 1.3rem;
    margin-bottom: .5rem;
}

.position-value {
	font-size: 2rem;
    margin-bottom: 2rem;
}